@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
// @import url('https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/css/uikit.min.css');

@import 'base/variables';
@import 'base/mixins';
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}




.container{
    max-width: 1200px;
    margin: 0 auto;

}

.portfolio{
    padding: 220px 0;
}





@import './blocks/header';
@import './blocks/intro';
@import './blocks/about';
@import './blocks/information';
@import './blocks/like';
@import './blocks/form';
@import './blocks/slider';
@import './blocks/services';
@import './blocks/sertevicate';
@import './blocks/portfolio';
@import './blocks/contacts';
@import './blocks/animate';